@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

:root{
    --light-blue: #5528FF;
    --gray: #4F4F4F;
    --black: #000000;
    --white: #fff;
    --light-gray: #B2B2B2;
    --grayish: #F7F7F7;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Ubuntu', sans-serif;
}

.navbar img {
    cursor: pointer; 
}

.dark-mode{
    background-color: var(--black);
    color: var(--white);
    transition: .7s ease;
}

img{
    max-width: 100%;
    object-fit: contain;
}

.line_break{
    display: flex;
    color: var(--light-gray);
    overflow: hidden;
    margin: 6rem 0rem;
}

.line_break p{
    width: 92px;
    padding: 0px 14px;
    font-size: 14px;
}

.container{
    width: 310px;
    margin: auto;
}

/* *********nav section start********* */

.logo{
   display: flex;
   /* justify-content: center; */
   align-items: center;
   text-align: center;
}

.logo img{
    width: 8%;
}

.logo h1{
    text-align: center;
    margin-left: 5px;
}

nav{
    height: 50px;
    width: 90%;
    /*background-color: var(--light-blue);*/
    position: relative;
    margin: 15px 5px;
}


.hamgurger-menu{
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
}

.navbar{
    display: none;
    width: 250px;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    background-color: var(--light-blue);
    z-index: 2;
    overflow: hidden;
}

.navbar ul li{
    list-style: none;
    margin-top: 4.5rem;
    text-align: center;
}

.navbar ul li a{
    text-decoration: none;
    color: var(--white);
}

.navbar ul #contact{
    background-color: var(--white);
    color: var(--light-blue);
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
}

.navbar ul #contact:hover{
    color: var(--black);
    transition: .4s ease-in;
}

.navbar ul li a:hover{
    cursor: pointer;
    color: purple;
    transition: 0.4s ease-in;
}


/* ************info section start here************* */

.info{
    margin: 47px 5px;
}

.info h1{
    /* font-size: 57px; */
    margin-bottom: 46px;
}

.info p{
    color: var(--gray);
    font-weight: 400;
}

.info button{
    width: 5rem;
    height: 30px;
    background-color: var(--light-blue);
    color: var(--white);
    border: none;
    border-radius: 10px;
    margin: 1.5rem 0px;
}


/* ************service section start here*************** */

.services{
    display: flex;
    padding-top: 5rem;
    gap: 30px; 
}

.services img{
    width: 60px;
    color: var(--light-blue);
}

.service_text h5{
    margin-bottom: 20px;
}
.service_text p{
    color: var(--light-gray);
    font-weight: 400;
}


/* ************client setion************* */

.client{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 45px;
    margin-top: 85px;
}

.client img{
    color: var(--light-gray);
}

/* **********team sectiom************ */

.team_section{
    margin-top: 80px;
}

.team_section .team{
    display: flex;
    padding-top: 50px;
    gap: 25px;
}

/* the footer */

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    background-color: var(--grayish);
    margin-top: 8rem;
}


footer .social_media img{
    padding-right: 25px;
} 

@media screen and (min-width: 1024px) {

    .container{
        width: 935px;
        margin: auto;
    }

    .bar{
        display: none;
    }

    .hamgurger-menu{
      display: none;
    }

    .navbar{
        width: 437px;
        /* height: 24px; */
        position: absolute;
        background-color: transparent;
        display: flex;
        justify-content: space-evenly;
        padding-top: 20px;
        margin: 0px 10px; 
    }

    .navbar ul li{
        float: left;
        padding: 0px 10px;
        margin: 0px;
    }

    .navbar ul li a{
        color: var(--black);
    }

    .dark-mode .navbar ul li a{
        color: var(--white);
    }

    .navbar ul #contact{
        background-color: var(--light-blue);
        width: 100px;
        height: 24px;
        color: var(--white);
        border: none;
        border-radius: 5px;
        padding: 8px;
    }
    .info{
        
        margin-top: 133px;
    }
    .info h1{
        font-size: 57px;
    }
    .info p{
        max-width: 741px;
        font-size: 32px;
    }

    .info button{
        width: 235px;
        height: 60px;
        background-color: var(--light-blue);
        color: var(--white);
        border: none;
        border-radius: 10px;
        margin: 5rem 0rem;
    }

    .services_section{
        display: grid;
        grid-template-columns: 1fr 1fr ;
    }

    .service_text{
        width: 45%;
    }

    .client{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr ;
    }

    .team{
        gap: 15px;
    }

    .team_section{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
    }

    footer #logo{
        margin: auto;
        margin-left: 10rem;
    }
    
    footer .social_media{
        margin-right: 56px;
    }
}
